.person-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-inline-start: auto;
    margin-inline-end: 0;
    gap: 12px;
    color: var(--text-color-default);
    font: var(--text-small-light);
}

.person-info-email {
    max-width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
}