.sidebar {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: var(--surface-color);
}

.sections-list {
    display: flex;
    flex-shrink: 0;
    height: fit-content;
    flex-direction: column;
}

.materials-title,
.content-title {
    display: flex;
    font: var(--normal-medium-text);
    user-select: none;
    color: var(--text-color-default);
}

.materials-title {
    padding-block-start: 28px;
    padding-block-end: 24px;
    padding-inline-start: 19px;
}

.content-title {
    padding-block-start: 40px;
    padding-block-end: 13px;
    padding-inline-start: 19px;
}

.content-navigation {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 1;
}

