.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 700px;align-items: center;
    padding-block-start: 20px;
}

.folder-stats-title {
    font: var(--text-normal-medium);
}