.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    color: var(--text-color-default);
    background: var(--surface-color);
}


.header {
    user-select: none;
    font: var(--text-normal-medium);
    text-align: center;
}

.stats-container {
    display: flex;
    flex-direction: column;
    font: var(--text-normal-light);
    gap: 15px;
}

.stat-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer {
    display: flex;
    gap: 15px;
}