.container {
    display: flex;
    flex-direction: row;
    gap: 140px;
    flex-shrink: 0;
    margin-inline-start: -50px;
}

.text-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.header {
    font: var(--large-light-text);
    color: var(--text-color-default);
    font-weight: 500;
}

.description {
    width: 415px;
    white-space: break-spaces;
    font: var(--normal-light-text);
    color: var(--text-color-default);
}

.cards-stack {
    position: relative;
    width: 480px;
    height: 340px;
}

.top-card {
    position: absolute;
    inset-inline-start: 0;
    inset-block-start: 0;
}

.center-card,
.bottom-card {
    position: absolute;
    transition: inset 400ms ease-in-out;
    inset-inline-start: 0;
    inset-block-start: 0;
}

.center-card--visible {
    inset-inline-start: 54px;
    inset-block-start: 44px;
}

.bottom-card--visible {
    inset-inline-start: 108px;
    inset-block-start: 91px;
}
