.top-panel {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.material-name-header {
    color: var(--text-color-default);
    font: var(--text-medium-light);
    user-select: none;
}