.selected-deck-name {
	position: absolute;
	display: flex;
	align-items: center;
	white-space: nowrap;
	inset: 0;
	pointer-events: none;
	font: var(--text-large-light);
	color: var(--text-color-default);
}

.text {
	margin-inline: auto;
	pointer-events: all;
}