.layout {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.cards-container {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}


.exit {
    position: absolute;
    inset-inline-start: 32px;
    inset-block-start: 86px;
}

.exit-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}