.layout {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 5557px;
}

.background {
    position: absolute;
    inset: 0;
    background-image: url('/images/landing_blobs_background.png');
    background-size: cover;
    background-position: center;
    z-index: -1;
}