.layout {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 5557px;
    overflow-x: hidden;
}

.background {
    position: absolute;
    inset: 0;
    inset-block-start: -56px;
    background-image: url('/images/landing_blobs_background.svg');
    background-size: cover;
    background-position: center;
    z-index: -1;
}