.layout {
    display: flex;
    flex-direction: column;
    gap: 34px;
    width: 100%;
    height: 100%;
    max-width: 920px;
}

.search-field {
    margin-inline-start: 120px;
    max-width: 500px;
}

.results {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 20px;
}

.loading-container {
    flex-grow: 1;
    flex-shrink: 0;
}