.card {
    display: flex;
    width: 80%;
    max-width: 1290px;
    height: 64px;
    background: var(--surface-color);
    outline: 2px solid var(--stroke-color);
    padding-block: 13px;
    padding-inline-start: 45px;
}

.side-value-editor {
    width: 100%;
    outline: none;
    border: none;
    font: var(--normal-light-text);
}

.side-value-editor:disabled {
    background: transparent;
}

.divider {
    width: 1px;
    height: 62px;
    background: var(--text-color-default);
    margin-inline-end: 45px;
}
