.panel {
    display: flex;
    flex-direction: row;
    height: 60px;
    background: var(--accent-color);
    align-items: center;
}

.user-content-panel {
    display: flex;
    width: 100%;
}

.breadcrumbs {
    margin-inline-start: 27%;
}

.library-panel {
    width: 100%;
}

.search-field {
    margin-inline-start: 38%;
    width: 26%;
}