.panel {
    display: flex;
    flex-direction: row;
    height: 60px;
    background: var(--accent-color);
    align-items: center;
    justify-content: center;
}

.content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
    padding-inline: 28% 14%;
    gap: 50px;
}

.library-panel {
    width: 100%;
}

.search-field {
    margin-inline-start: 38%;
    width: 26%;
}