.user-avatar-panel {
    display: flex;
    flex-direction: row-reverse;
}
.user-avatar {
    cursor: pointer;
}

.profile-navigation-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin-block-start: 20px;
    margin-inline: 20px;
}

.profile-popover-navigation-button {
    padding: 0;
    margin: 0;
}

.profile-popover-button-logout {
    display: flex;
    align-items: center;
    padding: 0;
    margin-inline-end: 0;
    margin-inline-start: auto;
    color: var(--error-color);
}

.profile-popover-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 406px;
}

.profile-popover-username {
    margin-block-start: 17px;
    color: var(--text-color-default);
    font: var(--text-normal-regular);
    user-select: none;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    width: 160px;
}

.avatar-container {
    position: relative;
    width: fit-content;
}

.profile-popover-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 17px;
    margin-block-start: 42px;
}

.profile-popover-button {
    width: 100%;
    justify-content: flex-start;
}

.profile-popover-module-name {
    color: var(--text-color-default);
    font: var(--text-normal-light);
    user-select: none;
}

.profile-popover-settings-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block-start: 40px;
    gap: 30px;
    width: 100%;
}

.profile-popover-editing-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding-inline: 20px;
    margin-block-start: 20px;
    gap: 20px;
}

.profile-popover-editing-separator {
    display: flex;
    flex-direction: column;
    align-self: center;
    font: var(--text-xsmall-light);
    color: var(--stroke-color);
    user-select: none;
    width: 348px;
}

.profile-popover-editing-separator-view {
    height: 1px;
    background-color: var(--stroke-color);
}

.profile-button-confirm {
    margin-inline: 28px;
}

.profile-text-field {
    width: 348px;
    align-self: center;
}

.profile-popover-settings-item-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 286px;
    padding-inline-start: 20px;
}

.profile-popover-settings-item-text {
    font: var(--text-small-regular);
    color: var(--text-color-default);
    width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.profile-popover-settings-dropdown {
    width: 166px;
}

.profile-button-settings-confirm {
    margin-inline-start: 70px;
    align-self: flex-start;
}