.list-container {
	display: flex;
	flex-shrink: 1;
	flex-grow: 1;
	flex-basis: 0;
	flex-direction: column;
	height: 100%;
	overflow: auto;
}

.list-container-animation {
	animation: ease-in-out entering 175ms;
}

@keyframes entering {
	0% {
		transform: translate(0);
	}

	70% {
		transform: translate(-100%);
	}

	100% {
		transform: translate(0);
	}
}