.list-container {
	display: flex;
	flex-shrink: 1;
	flex-grow: 1;
	flex-basis: 0;
	flex-direction: column;
	height: 100%;
	overflow: auto;
}

.placeholder-container {
	display: flex;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	font: var(--normal-medium-text);
	color: var(--stroke-color);
	flex-direction: column;
}

.placeholder {
	width: 155px;
	height: 155px;
	background: url('/images/empty_sidebar_placeholder.svg') no-repeat center;
}

.list-container-animation {
	animation: ease-in-out entering 175ms;
}

@keyframes entering {
	0% {
		transform: translate(0);
	}

	70% {
		transform: translate(-100%);
	}

	100% {
		transform: translate(0);
	}
}