.password-text-field {
  margin-block-start: 31px;
}

.forgot-password-text {
  text-decoration: underline;
  margin-block-start: 15px;
  font: var(--input-text);
  color: var(--text-color-subdued);
}

.forgot-password-text > span {
  cursor: pointer;
}

.register-text {
  font: var(--input-text);
  color: var(--text-color-subdued);
  text-decoration: underline;
  margin-block-start: 5px;
}

.register-text > span {
  cursor: pointer;
}

.submit-button {
  margin-block-start: 25px;
  height: 60px;
}