.password-text-field {
  margin-block-start: 31px;
}

.forgot-password-text {
  text-decoration: underline;
  margin-block-start: 15px;
  font: var(--small-regular-text);
  color: var(--text-color-subdued);
  user-select: none;
  padding-inline-start: 18px;
}

.forgot-password-text > span {
  cursor: pointer;
}

.register-text {
  font: var(--small-regular-text);
  color: var(--text-color-subdued);
  user-select: none;
  text-decoration: underline;
  margin-block-start: 31px;
  padding-inline-start: 18px;
}

.register-text > span {
  cursor: pointer;
}

.submit-button {
  margin-block-start: 25px;
}