.password-text-field,
.username-text-field {
  margin-block-start: 31px;
}

.auth-text {
  margin-block-start: 31px;
  font: var(--small-regular-text);
  color: var(--text-color-subdued);
  user-select: none;
  cursor: pointer;
  text-decoration: underline;
  padding-inline-start: 18px;
}

.submit-button {
  margin-block-start: 26px;
}
