.password-text-field,
.username-text-field {
    margin-block-start: 31px;
}

.auth-text {
    margin-block-start: 5px;
}

.auth-text > span {
    text-decoration: underline;
    cursor: pointer;
}

.submit-button {
    margin-block-start: 26px;
}
