.layout {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-block: 50px;
  padding-inline: 60px;
  border: 1px solid var(--stroke-color);
  border-radius: 23px;
  background: var(--surface-color);
  margin-block: auto;
  align-self: flex-start;
  height: 740px;
  overflow: hidden;
}

.logo {
  margin-block-start: 30px;
  margin-block-end: 120px;
  pointer-events: none;
  transition: margin 200ms linear;
}

.logo--small {
  margin-block-start: 0;
  margin-block-end: 45px;
}

.logo-image {
  width: 326px;
  height: 200px;
  transition: width 200ms ease-in-out, height 200ms linear;
}

.logo-image--small {
  width: 163px;
  height: 100px;
}

.form-container {
  position: relative;
}

.form-view-box {
  overflow: hidden;
  transition: all 200ms ease-in-out;
}

.login-form,
.register-form {
  transition: all 200ms ease-in-out;
}

.register-form-visible {
  transform: translateY(-298px);
  opacity: 1;
}

.register-form-hidden {
  transform: translateY(481px);
  opacity: 0;
}

.login-form-visible {
  transform: translateY(0);
  opacity: 1;
}

.login-form-hidden {
  transform: translateY(-298px);
  opacity: 0;
}