.layout {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px 60px;
  border: 1px solid #909090;
  border-radius: 23px;
  background: var(--surface-default);
}

.logo {
  margin-block-end: 90px;
}