.layout {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-block: 50px;
  padding-inline: 60px;
  border: 1px solid var(--stroke-color);
  border-radius: 23px;
  background: var(--surface-color);
  margin-block-start: 80px;
  align-self: flex-start;
}

.logo {
  margin-block-end: 90px;
  pointer-events: none;
}