.container {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 185px;
    flex-shrink: 0;
    margin-block-start: 270px;
    margin-inline-start: -445px;
}

.text-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-block-start: 72px;
}

.header {
    font: var(--text-large-light);
    color: var(--text-color-default);
    font-weight: 500;
}

.description {
    font: var(--text-normal-light);
    color: var(--text-color-default);
    width: 264px;
    white-space: break-spaces;
}

.cards-container {
    position: relative;
    width: 775px;
    height: 500px;
}

.top-card,
.bottom-card,
.right-card {
    position: absolute;
    inset-inline-start: 0;
    inset-block-start: 160px;
    transition: inset 400ms ease-in-out;
}

.left-card {
    position: absolute;
    inset-inline-start: 0;
    inset-block-start: 160px;
}

.top-card--visible {
    inset-inline-start: 370px;
    inset-block-start: 0;
}

.bottom-card--visible {
    inset-inline-start: 380px;
    inset-block-start: 348px;
}

.right-card--visible {
    inset-inline-start: 544px;
    inset-block-start: 174px;
}

